## Exam 1 for ML-lab
In this exam you will be using Logistic regression with `L1` regularization to predict `income>50k` as a binary classification task.

In [1]:
import pandas as pd
import numpy as np

In [3]:
def unpack_dataset():
    ! mkdir -p data
    ! wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
    ! wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test
    ! mv adult.* data

In [4]:
unpack_dataset()

--2021-11-18 09:35:02--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data’

adult.data          100%[===================>]   3.79M  4.78MB/s    in 0.8s

2021-11-18 09:35:03 (4.78 MB/s) - ‘adult.data’ saved [3974305/3974305]

--2021-11-18 09:35:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2003153 (1.9M) [application/x-httpd-php]
Saving to: ‘adult.test’

adult.test          100%[===================>]   1.91M  1.41MB/s    in 1.4s

2021-11-18 09:35:05 (1.41 MB/s) - ‘adult.test’ saved [2003153/2003153]

In [4]:
cols_names = ['age','workclass','fnlwgt','education','education-num','marital-status',
               'occupation','relationship','race', 'sex','capital-gain','capital-loss','hours-per-week',
               'native-country', 'label']

In [5]:
train = pd.read_csv('data/adult.data', names=cols_names, skipinitialspace=True)
test = pd.read_csv('data/adult.test', names=cols_names, skiprows=[0], skipinitialspace=True)

In [6]:
train["label"] = np.array([1 if y==">50K" else 0 for y in train.label.values])
test["label"] = np.array([1 if y==">50K." else 0 for y in test.label.values])

In [7]:
train = train.sample(frac=1, random_state=0).reset_index(drop=True)

In [8]:
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,27,Private,177119,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States,0
1,27,Private,216481,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,0
2,25,Private,256263,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,0
3,46,Private,147640,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States,0
4,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,1

## 1. Encode variables for logistic regression
Consider `age, fnlwgt, capital-gain, capital-loss, hours-per-week` as continuous variables and anything else as categorical. Ignore the column `'education-num'`.

In [9]:
continuous_vals = ['age', 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week']

In [10]:
cat_vars = ['workclass', 'education', 'marital-status', 'occupation','relationship','race', 'sex', 'native-country']

## 2. Model selection 
Use `cross-validation k=3` to select the appropiate level of regularization for a logistic regression model with `L1` penalty. Consider the following values of the penalization constant [0.01, 0.1, 1, 10, 100]. Use `roc_auc_score` as your metric.

In [20]:
alphas = [0.01, 0.1, 1, 10, 100]

## 3. What is the roc_auc_score on the test set?
Retrain on the whole training data using the best penalty and compute `roc_auc_score` on the test set.

## 4. How many variables is logistic regression setting to 0?